<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722884853656-v7di8qfehk4k9h66kg4vqrnesf6j1rhj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722884853656-v7di8qfehk4k9h66kg4vqrnesf6j1rhj</string>
	<key>API_KEY</key>
	<string>AIzaSyDc4XL_s5nwN6JtB2DmmKK-BCx7TAfRd_A</string>
	<key>GCM_SENDER_ID</key>
	<string>722884853656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CIS195.CIS195-fp</string>
	<key>PROJECT_ID</key>
	<string>cis195-fp</string>
	<key>STORAGE_BUCKET</key>
	<string>cis195-fp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722884853656:ios:7bee885049abde2a75f5ed</string>
	<key>DATABASE_URL</key>
	<string>https://cis195-fp.firebaseio.com</string>
</dict>
</plist>